#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
    color:antiquewhite;
}

button {
  font-size: 2rem;
  color:antiquewhite;
  width: 15rem;
  height: 4rem;
  margin:0.5rem;
  padding-bottom: 0.6rem;
  background-color: rgba(43, 4, 4, 0.6);
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(39, 15, 66, 0.6);
  color: rgb(218, 205, 188);
}