* {
    font-family: 'Brush Script MT', cursive;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    /* background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png"); */
}

.timer {
    margin-top:300px
}

body {
  animation: bg_animation 15s ease infinite;
  background-size: 400% 400%;
}

@keyframes bg_animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}

